<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.drawersuvidha"
    android:theme="@android:style/Theme.Holo.NoActionBar.Fullscreen">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity android:name=".Call_logs"></activity>
        <activity android:name=".ChangepasswordActivity" />
        <activity android:name=".ForgetpassActivity" />
        <activity android:name=".MainActivity" />
        <activity android:name=".view_cust_detail" />
        <activity android:name=".LoginActivity" />
        <activity android:name=".reference" />
        <activity android:name=".profile_details" />
        <activity android:name=".AboutusActivity" />
        <activity android:name=".ContactusActivity" />
        <activity android:name=".StatisticsActivity" />
        <activity android:name=".ViewprofileActivity" />
        <activity android:name=".AddCustomerActivity" />
        <activity android:name=".splash_screen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <uses-permission android:name="android.permission.INTERNET" />

</manifest>