<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    android:theme="@android:style/Theme.Holo.NoActionBar.Fullscreen"
    package="com.example.drawersuvidha">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".reference"></activity>
        <activity android:name=".profile_details" />
        <activity android:name=".AboutusActivity" />
        <activity android:name=".ContactusActivity" />
        <activity android:name=".StatisticsActivity" />
        <activity android:name=".ViewprofileActivity" />
        <activity android:name=".AddCustomerActivity" />
        <activity android:name=".LoginActivity">

        </activity>
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.INTERNET" />

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />


</manifest>